<h2>Create new user</h2>

<% if (message.length) > 0 {%>
<h3>Error Found</h3>
<%= message %>
<%}%>

<% if(errors.length > 0) { %>
  <% JSON.stringify(errors) %>
  <h3>Error found</h3>
  <ul>
  <% for (var error in errors[0]) { %>
    <li><%= errors[0][error].message %></li>
  <% } %>
  </ul>
<% } %>

<form class="new-user-passport" action="/signup" method="post">
  <div class="row">
    <div class="col-md-4">
      <input type="text" name="user[local][name]" id="user-name" placeholder="Your name" class="u-full-width">
    </div>
    <div class="col-md-4">
      <input type="text" name="user[local][email]" id="user-email" placeholder="Your user email" class="u-full-width">
    </div>
    <div class="col-md-4">
      <input type="password" name="user[local][password]" id="user-password" placeholder="Your user password" class="u-full-width">
    </div>
    <input type="submit" value='Save My User'>
  </div>
</form>

<ul id="all-user-list">
    <% allUsers.forEach(function(user) { %>
      <li>
          <%= user.local.name %><br>
          <%= user.local.email %><br>
          <%= user.local.password %>
      </li>
    <% }) %>
</ul>
